#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zmk,physical-layout = &physical_layout0;
        zmk,split = &split;
    };


    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;

// | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |                 | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |
// | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |                 | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |
// | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |                 | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |
// | SW24 | SW23 | SW22 | SW21 | SW20 | SW19 |                 | SW19 | SW20 | SW21 | SW22 | SW23 | SW24 |
// | SW30 | SW29 | SW28 | SW27 | SW26 | SW25 |                 | SW25 | SW26 | SW27 | SW28 | SW29 | SW30 |

        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                 RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                 RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                 RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                 RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)
            RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)                 RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11)
            // RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5)                 RC(5,6) RC(5,7) RC(5,8) RC(5,9) RC(5,10) RC(5,11)
        >;
    };




    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        
        
        row-gpios
            = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row A from the schematic file
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row B from the schematic file
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row C from the schematic file
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row D from the schematic file
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            ;

    };



    physical_layout_keys {
        compatible = "zmk,physical-layout-keys";

        /* Row 0 */
        k0:  key_0  { x = <0>;    y = <0>;   w = <100>; h = <100>; };
        k1:  key_1  { x = <100>;  y = <0>;   w = <100>; h = <100>; };
        k2:  key_2  { x = <200>;  y = <0>;   w = <100>; h = <100>; };
        k3:  key_3  { x = <300>;  y = <0>;   w = <100>; h = <100>; };
        k4:  key_4  { x = <400>;  y = <0>;   w = <100>; h = <100>; };
        k5:  key_5  { x = <500>;  y = <0>;   w = <100>; h = <100>; };
        k6:  key_6  { x = <700>;  y = <0>;   w = <100>; h = <100>; };
        k7:  key_7  { x = <800>;  y = <0>;   w = <100>; h = <100>; };
        k8:  key_8  { x = <900>;  y = <0>;   w = <100>; h = <100>; };
        k9:  key_9  { x = <1000>; y = <0>;   w = <100>; h = <100>; };
        k10: key_10 { x = <1100>; y = <0>;   w = <100>; h = <100>; };
        k11: key_11 { x = <1200>; y = <0>;   w = <100>; h = <100>; };

        /* Row 1 */
        k12: key_12 { x = <0>;    y = <100>; w = <100>; h = <100>; };
        k13: key_13 { x = <100>;  y = <100>; w = <100>; h = <100>; };
        k14: key_14 { x = <200>;  y = <100>; w = <100>; h = <100>; };
        k15: key_15 { x = <300>;  y = <100>; w = <100>; h = <100>; };
        k16: key_16 { x = <400>;  y = <100>; w = <100>; h = <100>; };
        k17: key_17 { x = <500>;  y = <100>; w = <100>; h = <100>; };
        k18: key_18 { x = <700>;  y = <100>; w = <100>; h = <100>; };
        k19: key_19 { x = <800>;  y = <100>; w = <100>; h = <100>; };
        k20: key_20 { x = <900>;  y = <100>; w = <100>; h = <100>; };
        k21: key_21 { x = <1000>; y = <100>; w = <100>; h = <100>; };
        k22: key_22 { x = <1100>; y = <100>; w = <100>; h = <100>; };
        k23: key_23 { x = <1200>; y = <100>; w = <100>; h = <100>; };

        /* Row 2 */
        k24: key_24 { x = <0>;    y = <200>; w = <100>; h = <100>; };
        k25: key_25 { x = <100>;  y = <200>; w = <100>; h = <100>; };
        k26: key_26 { x = <200>;  y = <200>; w = <100>; h = <100>; };
        k27: key_27 { x = <300>;  y = <200>; w = <100>; h = <100>; };
        k28: key_28 { x = <400>;  y = <200>; w = <100>; h = <100>; };
        k29: key_29 { x = <500>;  y = <200>; w = <100>; h = <100>; };
        k30: key_30 { x = <700>;  y = <200>; w = <100>; h = <100>; };
        k31: key_31 { x = <800>;  y = <200>; w = <100>; h = <100>; };
        k32: key_32 { x = <900>;  y = <200>; w = <100>; h = <100>; };
        k33: key_33 { x = <1000>; y = <200>; w = <100>; h = <100>; };
        k34: key_34 { x = <1100>; y = <200>; w = <100>; h = <100>; };
        k35: key_35 { x = <1200>; y = <200>; w = <100>; h = <100>; };

        /* Row 3 */
        k36: key_36 { x = <0>;    y = <300>; w = <100>; h = <100>; };
        k37: key_37 { x = <100>;  y = <300>; w = <100>; h = <100>; };
        k38: key_38 { x = <200>;  y = <300>; w = <100>; h = <100>; };
        k39: key_39 { x = <300>;  y = <300>; w = <100>; h = <100>; };
        k40: key_40 { x = <400>;  y = <300>; w = <100>; h = <100>; };
        k41: key_41 { x = <500>;  y = <300>; w = <100>; h = <100>; };
        k42: key_42 { x = <700>;  y = <300>; w = <100>; h = <100>; };
        k43: key_43 { x = <800>;  y = <300>; w = <100>; h = <100>; };
        k44: key_44 { x = <900>;  y = <300>; w = <100>; h = <100>; };
        k45: key_45 { x = <1000>; y = <300>; w = <100>; h = <100>; };
        k46: key_46 { x = <1100>; y = <300>; w = <100>; h = <100>; };
        k47: key_47 { x = <1200>; y = <300>; w = <100>; h = <100>; };

        /* Row 4 */
        k48: key_48 { x = <0>;    y = <400>; w = <100>; h = <100>; };
        k49: key_49 { x = <100>;  y = <400>; w = <100>; h = <100>; };
        k50: key_50 { x = <200>;  y = <400>; w = <100>; h = <100>; };
        k51: key_51 { x = <300>;  y = <400>; w = <100>; h = <100>; };
        k52: key_52 { x = <400>;  y = <400>; w = <100>; h = <100>; };
        k53: key_53 { x = <500>;  y = <400>; w = <100>; h = <100>; };
        k54: key_54 { x = <700>;  y = <400>; w = <100>; h = <100>; };
        k55: key_55 { x = <800>;  y = <400>; w = <100>; h = <100>; };
        k56: key_56 { x = <900>;  y = <400>; w = <100>; h = <100>; };
        k57: key_57 { x = <1000>; y = <400>; w = <100>; h = <100>; };
        k58: key_58 { x = <1100>; y = <400>; w = <100>; h = <100>; };
        k59: key_59 { x = <1200>; y = <400>; w = <100>; h = <100>; };
    };

    physical_layouts {
        compatible = "zmk,physical-layouts";

        physical_layout0: physical_layout0 {
            compatible = "zmk,physical-layout";
            display-name = "Default Layout";
            transform = <&default_transform>;

            keys = <
                &k0 &k1 &k2 &k3 &k4 &k5 &k6 &k7 &k8 &k9 &k10 &k11
                &k12 &k13 &k14 &k15 &k16 &k17 &k18 &k19 &k20 &k21 &k22 &k23
                &k24 &k25 &k26 &k27 &k28 &k29 &k30 &k31 &k32 &k33 &k34 &k35
                &k36 &k37 &k38 &k39 &k40 &k41 &k42 &k43 &k44 &k45 &k46 &k47
                &k48 &k49 &k50 &k51 &k52 &k53 &k54 &k55 &k56 &k57 &k58 &k59
            >;
        };
    };


    split: split {
        compatible = "zmk,split-ble";
    };
};


