#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zmk,physical-layout = &physical_layout0;
        zmk,split = &split;
    };


    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;

// | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |                 | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |
// | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |                 | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |
// | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |                 | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |
// | SW24 | SW23 | SW22 | SW21 | SW20 | SW19 |                 | SW19 | SW20 | SW21 | SW22 | SW23 | SW24 |
// | SW30 | SW29 | SW28 | SW27 | SW26 | SW25 |                 | SW25 | SW26 | SW27 | SW28 | SW29 | SW30 |

        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                 RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                 RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                 RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                 RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)
            RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)                 RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11)
            // RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5)                 RC(5,6) RC(5,7) RC(5,8) RC(5,9) RC(5,10) RC(5,11)
        >;
    };




    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        
        
        row-gpios
            = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row A from the schematic file
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row B from the schematic file
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row C from the schematic file
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row D from the schematic file
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            ;

    };



    
physical_layout_keys {
    compatible = "zmk,physical-layout-keys";

#define KEY(xpos, ypos) \
    #key-cells = <0>; \
    x = <xpos>; \
    y = <ypos>; \
    w = <100>; \
    h = <100>;

    /* Row 0 */
    k0:  key_0  { KEY(0,0) };
    k1:  key_1  { KEY(100,0) };
    k2:  key_2  { KEY(200,0) };
    k3:  key_3  { KEY(300,0) };
    k4:  key_4  { KEY(400,0) };
    k5:  key_5  { KEY(500,0) };
    k6:  key_6  { KEY(700,0) };
    k7:  key_7  { KEY(800,0) };
    k8:  key_8  { KEY(900,0) };
    k9:  key_9  { KEY(1000,0) };
    k10: key_10 { KEY(1100,0) };
    k11: key_11 { KEY(1200,0) };

    /* Row 1 */
    k12: key_12 { KEY(0,100) };
    k13: key_13 { KEY(100,100) };
    k14: key_14 { KEY(200,100) };
    k15: key_15 { KEY(300,100) };
    k16: key_16 { KEY(400,100) };
    k17: key_17 { KEY(500,100) };
    k18: key_18 { KEY(700,100) };
    k19: key_19 { KEY(800,100) };
    k20: key_20 { KEY(900,100) };
    k21: key_21 { KEY(1000,100) };
    k22: key_22 { KEY(1100,100) };
    k23: key_23 { KEY(1200,100) };

    /* Row 2 */
    k24: key_24 { KEY(0,200) };
    k25: key_25 { KEY(100,200) };
    k26: key_26 { KEY(200,200) };
    k27: key_27 { KEY(300,200) };
    k28: key_28 { KEY(400,200) };
    k29: key_29 { KEY(500,200) };
    k30: key_30 { KEY(700,200) };
    k31: key_31 { KEY(800,200) };
    k32: key_32 { KEY(900,200) };
    k33: key_33 { KEY(1000,200) };
    k34: key_34 { KEY(1100,200) };
    k35: key_35 { KEY(1200,200) };

    /* Row 3 */
    k36: key_36 { KEY(0,300) };
    k37: key_37 { KEY(100,300) };
    k38: key_38 { KEY(200,300) };
    k39: key_39 { KEY(300,300) };
    k40: key_40 { KEY(400,300) };
    k41: key_41 { KEY(500,300) };
    k42: key_42 { KEY(700,300) };
    k43: key_43 { KEY(800,300) };
    k44: key_44 { KEY(900,300) };
    k45: key_45 { KEY(1000,300) };
    k46: key_46 { KEY(1100,300) };
    k47: key_47 { KEY(1200,300) };

    /* Row 4 */
    k48: key_48 { KEY(0,400) };
    k49: key_49 { KEY(100,400) };
    k50: key_50 { KEY(200,400) };
    k51: key_51 { KEY(300,400) };
    k52: key_52 { KEY(400,400) };
    k53: key_53 { KEY(500,400) };
    k54: key_54 { KEY(700,400) };
    k55: key_55 { KEY(800,400) };
    k56: key_56 { KEY(900,400) };
    k57: key_57 { KEY(1000,400) };
    k58: key_58 { KEY(1100,400) };
    k59: key_59 { KEY(1200,400) };
};


    physical_layouts {
        compatible = "zmk,physical-layouts";

        physical_layout0: physical_layout0 {
            compatible = "zmk,physical-layout";
            display-name = "Default Layout";
            transform = <&default_transform>;

            keys = <
                &k0 &k1 &k2 &k3 &k4 &k5 &k6 &k7 &k8 &k9 &k10 &k11
                &k12 &k13 &k14 &k15 &k16 &k17 &k18 &k19 &k20 &k21 &k22 &k23
                &k24 &k25 &k26 &k27 &k28 &k29 &k30 &k31 &k32 &k33 &k34 &k35
                &k36 &k37 &k38 &k39 &k40 &k41 &k42 &k43 &k44 &k45 &k46 &k47
                &k48 &k49 &k50 &k51 &k52 &k53 &k54 &k55 &k56 &k57 &k58 &k59
            >;
        };
    };


    split: split {
        compatible = "zmk,split-ble";
    };
};


