#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zmk,physical-layout = &physical_layout0;
        zmk,split = &split;
    };


    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;

// | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |                 | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |
// | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |                 | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |
// | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |                 | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |
// | SW24 | SW23 | SW22 | SW21 | SW20 | SW19 |                 | SW19 | SW20 | SW21 | SW22 | SW23 | SW24 |
// | SW30 | SW29 | SW28 | SW27 | SW26 | SW25 |                 | SW25 | SW26 | SW27 | SW28 | SW29 | SW30 |

        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                 RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                 RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                 RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                 RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)
RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)                 RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11)
// RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5)                 RC(5,6) RC(5,7) RC(5,8) RC(5,9) RC(5,10) RC(5,11)
        >;
    };




    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        
        
        row-gpios
            = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row A from the schematic file
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row B from the schematic file
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row C from the schematic file
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row D from the schematic file
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            ;

    };


physical_layouts {
    compatible = "zmk,physical-layouts";

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;

        keys = <
            &k0 &k1 &k2 &k3 &k4 &k5 &k6 &k7 &k8 &k9 &k10 &k11
            &k12 &k13 &k14 &k15 &k16 &k17 &k18 &k19 &k20 &k21 &k22 &k23
            &k24 &k25 &k26 &k27 &k28 &k29 &k30 &k31 &k32 &k33 &k34 &k35
            &k36 &k37 &k38 &k39 &k40 &k41 &k42 &k43 &k44 &k45 &k46 &k47
            &k48 &k49 &k50 &k51 &k52 &k53 &k54 &k55 &k56 &k57 &k58 &k59
        >;
    };
};

physical_layout_keys {
    compatible = "zmk,physical-layout-keys";

    k0: key { x = <0>; y = <0>; w = <100>; h = <100>; };
    k1: key { x = <100>; y = <0>; w = <100>; h = <100>; };
    k2: key { x = <200>; y = <0>; w = <100>; h = <100>; };
    k3: key { x = <300>; y = <0>; w = <100>; h = <100>; };
    k4: key { x = <400>; y = <0>; w = <100>; h = <100>; };
    k5: key { x = <500>; y = <0>; w = <100>; h = <100>; };
    k6: key { x = <700>; y = <0>; w = <100>; h = <100>; };
    k7: key { x = <800>; y = <0>; w = <100>; h = <100>; };
    k8: key { x = <900>; y = <0>; w = <100>; h = <100>; };
    k9: key { x = <1000>; y = <0>; w = <100>; h = <100>; };
    k10: key { x = <1100>; y = <0>; w = <100>; h = <100>; };
    k11: key { x = <1200>; y = <0>; w = <100>; h = <100>; };

    k12: key { x = <0>; y = <100>; w = <100>; h = <100>; };
    k13: key { x = <100>; y = <100>; w = <100>; h = <100>; };
    k14: key { x = <200>; y = <100>; w = <100>; h = <100>; };
    k15: key { x = <300>; y = <100>; w = <100>; h = <100>; };
    k16: key { x = <400>; y = <100>; w = <100>; h = <100>; };
    k17: key { x = <500>; y = <100>; w = <100>; h = <100>; };
    k18: key { x = <700>; y = <100>; w = <100>; h = <100>; };
    k19: key { x = <800>; y = <100>; w = <100>; h = <100>; };
    k20: key { x = <900>; y = <100>; w = <100>; h = <100>; };
    k21: key { x = <1000>; y = <100>; w = <100>; h = <100>; };
    k22: key { x = <1100>; y = <100>; w = <100>; h = <100>; };
    k23: key { x = <1200>; y = <100>; w = <100>; h = <100>; };

    k24: key { x = <0>; y = <200>; w = <100>; h = <100>; };
    k25: key { x = <100>; y = <200>; w = <100>; h = <100>; };
    k26: key { x = <200>; y = <200>; w = <100>; h = <100>; };
    k27: key { x = <300>; y = <200>; w = <100>; h = <100>; };
    k28: key { x = <400>; y = <200>; w = <100>; h = <100>; };
    k29: key { x = <500>; y = <200>; w = <100>; h = <100>; };
    k30: key { x = <700>; y = <200>; w = <100>; h = <100>; };
    k31: key { x = <800>; y = <200>; w = <100>; h = <100>; };
    k32: key { x = <900>; y = <200>; w = <100>; h = <100>; };
    k33: key { x = <1000>; y = <200>; w = <100>; h = <100>; };
    k34: key { x = <1100>; y = <200>; w = <100>; h = <100>; };
    k35: key { x = <1200>; y = <200>; w = <100>; h = <100>; };

    k36: key { x = <0>; y = <300>; w = <100>; h = <100>; };
    k37: key { x = <100>; y = <300>; w = <100>; h = <100>; };
    k38: key { x = <200>; y = <300>; w = <100>; h = <100>; };
    k39: key { x = <300>; y = <300>; w = <100>; h = <100>; };
    k40: key { x = <400>; y = <300>; w = <100>; h = <100>; };
    k41: key { x = <500>; y = <300>; w = <100>; h = <100>; };
    k42: key { x = <700>; y = <300>; w = <100>; h = <100>; };
    k43: key { x = <800>; y = <300>; w = <100>; h = <100>; };
    k44: key { x = <900>; y = <300>; w = <100>; h = <100>; };
    k45: key { x = <1000>; y = <300>; w = <100>; h = <100>; };
    k46: key { x = <1100>; y = <300>; w = <100>; h = <100>; };
    k47: key { x = <1200>; y = <300>; w = <100>; h = <100>; };

    k48: key { x = <0>; y = <400>; w = <100>; h = <100>; };
    k49: key { x = <100>; y = <400>; w = <100>; h = <100>; };
    k50: key { x = <200>; y = <400>; w = <100>; h = <100>; };
    k51: key { x = <300>; y = <400>; w = <100>; h = <100>; };
    k52: key { x = <400>; y = <400>; w = <100>; h = <100>; };
    k53: key { x = <500>; y = <400>; w = <100>; h = <100>; };
    k54: key { x = <700>; y = <400>; w = <100>; h = <100>; };
    k55: key { x = <800>; y = <400>; w = <100>; h = <100>; };
    k56: key { x = <900>; y = <400>; w = <100>; h = <100>; };
    k57: key { x = <1000>; y = <400>; w = <100>; h = <100>; };
    k58: key { x = <1100>; y = <400>; w = <100>; h = <100>; };
    k59: key { x = <1200>; y = <400>; w = <100>; h = <100>; };
};


    split: split {
        compatible = "zmk,split-ble";
    };
};
